#wrapper { margin: 10px auto; width: 960px; }

#mainMenu { margin: 10px 0; background-color: #bacbd6; }
	#mainMenu ul { list-style: none; margin: 0 0 0 30px; }
	#mainMenu li { display: block; float: left; }
	#mainMenu a { display: block; padding: 2px 20px; color: #005f9b; text-decoration: none; }
	#mainMenu a:hover { background-color: #005f9b; color: white; }

h2 { font-size: 20px; }
