#wrapper 		{ margin: 10px auto; width: 960px; }

#mainMenu 		{ background-color: #dae8f1; }
	#mainMenu ul { list-style: none; margin: 0 0 0 30px; }
	#mainMenu li { display: block; float: left; }
	#mainMenu a { display: block; padding: 5px 20px; color: #005f9b; text-decoration: none; }
	#mainMenu a:hover { background-color: #005f9b; color: white; }
	
#footer 		{ margin: 20px 0; color: silver; }

.feature 		{ float: right; width: 200px; border-left: 1px solid #e5b5e2; padding: 5px 5px 5px 20px; margin: 0 0 50px 20px; }
	.feature h4 { color: #9b0092; font-weight: normal; font-size: 16px; margin: 0 0 15px; }
	.feature h4:before { content: "» "; color: #005f9b; }
	.feature ul { list-style: none; margin: 0; padding: 0; }
	.feature li { border-bottom: 1px solid silver; padding: 5px 0; }
	.feature li:last-child { border-bottom: 0; }

.button 		{  } 
	.button a 	{ display: block; text-align: center; margin: 10px 0 30px; padding: 2px 10px; 
				  background-color: #005f9b; color: white; font-weight: bold; font-size: 13px; text-decoration: none; border: 1px solid #005f9b;				   
				  -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s;
				  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; }
	.button a:hover { background-color: white; color: #005f9b; border: 1px solid #005f9b; }

h2 				{ color: gray; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size: 30px; margin: 15px 0 5px; }
h3 				{ color: #005f9b; display: inline-block; font-size: 16px; margin: 15px 0 5px; } 
h3:after 		{ content: "."; color: #9b0092; }

/* SyntaxHighlighter fixes */
.syntaxhighlighter {
	width:inherit !important;
}