dl.crudEdit {
	margin-bottom:50px;
}

dl.crudEdit {
	border-top: 1px solid silver;
	background-color: silver;
}

dl.crudEdit dt {
	display: table-cell;	
	float: left;
	clear: left;
	overflow: hidden;
	
	width: 200px;
	min-height: 21px;
	padding: 15px 0 5px 10px;
	margin: 0;
	margin-bottom: 1px;
	
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;

	background: #f1f1f1;
}

dl.crudEdit dd {
	float: left;
	
	width: 500px;
	
	padding: 10px;
	margin: 0;
	margin-bottom: 1px;
	
	background: white;
}

dl.crudEdit dd input[type=text] {
	width: 20em;
	height: 15px;
}

dl.crudEdit dd input[type=number] {
	width: 5em;
}

dl.crudEdit dd input[readonly] {
	border: none;
	background-color: #eee;
}

dl.crudEdit dd textarea {
	width: 20em;
	height: 5em;
}

/* VALIDATION */

dl.crudEdit dd.validation_error {
	background-color: #e43c3c;
}

dl.crudEdit dd.validation_error div.validation_message {
	color: white;
	margin-bottom: 5px;
}