#debug {
	opacity: 0.5;
}

#debug:hover {
	opacity: 1;
}

#debug.focus {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
}

#debug.focus #req_debug {
	display: none;
}

#debug.focus #js_debug p:first-child {
	font-size: 2em;
}

#debug.focus #js_debug {
	max-height: 250px;
	overflow: auto;
}

#js_debug p {
	margin: 0;
}

#js_debug p.milestone {
	font-size: 17px;
	font-weight: bold;
}

#debug-controls {
	float: right;
}
