root { 
    display: block;
}

body {
	padding: 10px;
}

body * {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0 auto;
	padding: 10px;
	max-width: 72em;
	min-width: 320px;

	background-color: #eee;
	border: 1px solid gray;
}
