#ajdeDebugger {
	position: absolute;
	width: 100%;
	background-color: white;
	border-top: 1px solid #9a0092;
	margin: 10px 0;
	padding: 10px;
	display: none;
}

#ajdeDebugger h4 {
	font-size: 20px;
	color: #005d9a;
	margin-bottom: 10px;
}

#ajdeDebugger dl {
	margin-bottom:50px;
}

#ajdeDebugger dl dt {
	background: #005d9a;
	color: #fff;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px;
	width: 100px;
}

#ajdeDebugger dl dd {
	margin: 2px 0;
	padding: 5px 0;
	color: black;
}

#ajdeDebugger dl dd.details {
	display: none;
}

#ajdeDebugger table {
	border: 1px solid silver;
}

	#ajdeDebugger table td, #ajdeDebugger table th {
		padding: 2px;
		color: black;
	}
